a {
    cursor:pointer;
   }
    body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  header {
    background-color: #333;
    padding: 10px;
    font-size: 0;
    text-align: center;
    color: black;
    transition: color 0.5s;
  }
  
  header h1 {
    color: white;
    font-size: 50px;
    margin: 0;
  }
  .animation-container .boom-container .shape.circle {
    width: 20px;
    height: 20px;
    animation-name: boom-circle;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    border-radius: 100%;
    margin-left: -30px;
  }
  .animation-container .boom-container .shape.circle.white {
    border: 1px solid white;
  }
  .animation-container .boom-container .shape.circle.big {
    width: 40px;
    height: 40px;
    margin-left: 0px;
  }
  .animation-container .boom-container .shape.circle.big.white {
    border: 2px solid white;
  }
  .animation-container .boom-container .shape:after {
    background-color: rgba(178, 215, 232, 0.2);
  }
  .animation-container .boom-container .shape.triangle, .animation-container .boom-container .shape.circle, .animation-container .boom-container .shape.circle.big, .animation-container .boom-container .shape.disc {
    animation-delay: 0.38s;
    animation-duration: 3s;
  }
  .animation-container .boom-container .shape.circle {
    animation-delay: 0.6s;
  }
  .animation-container .boom-container.second {
    left: 485px;
    top: 155px;
  }
  .animation-container .boom-container.second .shape.triangle, .animation-container .boom-container.second .shape.circle, .animation-container .boom-container.second .shape.circle.big, .animation-container .boom-container.second .shape.disc {
    animation-delay: 1.9s;
  }
  .animation-container .boom-container.second .shape.circle {
    animation-delay: 2.15s;
  }
  @keyframes woosh {
    0% {
      width: 12px;
      transform: translate(0px, 0px) rotate(-35deg);
    }
    15% {
      width: 50px;
    }
    30% {
      width: 12px;
      transform: translate(214px, -150px) rotate(-35deg);
    }
    30.1% {
      transform: translate(214px, -150px) rotate(46deg);
    }
    50% {
      width: 110px;
    }
    70% {
      width: 12px;
      transform: translate(500px, 150px) rotate(46deg);
    }
    70.1% {
      transform: translate(500px, 150px) rotate(-37deg);
    }
    85% {
      width: 50px;
    }
    100% {
      width: 12px;
      transform: translate(700px, 0) rotate(-37deg);
    }
  }
  @keyframes boom-circle {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    30% {
      opacity: 0;
      transform: scale(3);
    }
  }
  @keyframes boom-triangle-big {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    40% {
      opacity: 0;
      transform: scale(2.5) translate(50px, -50px) rotate(360deg);
    }
  }
  @keyframes boom-triangle {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    30% {
      opacity: 0;
      transform: scale(3) translate(20px, 40px) rotate(360deg);
    }
  }
  @keyframes boom-disc {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    40% {
      opacity: 0;
      transform: scale(2) translate(-70px, -30px);
    }
  }
