a {
    cursor: pointer;
}

body{
  background: linear-gradient(90deg, #ff416c, #ff4b2b);
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    width: 100%;
}

header {
    background-color: #333;
    padding: 10px;
    font-size: 0;
    display: flex;
    justify-content: flex-start;
    color: black;
    transition: color 0.5s;
}

.container, .animation-container {
    max-width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.avatar {
    width: 200px;
    height: 200px;
    margin-right: 20%;
    margin-top: 5%;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.avatar img {
    width: 100%;
    height: auto;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
header h1 {
    color: white;
    font-size: 50px;
    font-family:'Playfair Display', serif;
    margin-bottom: 0%;
    margin-right: 50%;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 20px; /* Reduce font size on smaller screens */
        margin-right: 50%;
        line-height: 1.2;
    }
    header.break{
      display: block;
      line-height: 1;
    }
    header h1 .line1{
      display: block;
    }
    header h1 .line2{
      display: block;
    }
    .avatar{
      width: 80px;
      height: 80px;
      margin-right: 40%;
      margin-top:10%;
    }
}

.animation-container {
    display: block;
    position: relative;
    width: 100%; /* Ensure responsiveness */
    max-width: 800px;
    margin: 0 auto;
}
  .animation-container .lightning-container {
    Position: absolute;
    Top: 50%;
    Left: 0;
    Display: flex;
    Transform: translateY(-50%);
  }
  .animation-container .lightning-container .lightning {
    Position: absolute;
    Display: block;
    Height: 12px;
    Width: 12px;
    Border-radius: 12px;
    Transform-origin: 6px 6px;
    Animation-name: woosh;
    Animation-duration: 1.5s;
    Animation-iteration-count: infinite;
    Animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    Animation-direction: alternate;
  }
  .animation-container .lightning-container .lightning.white {
    Background-color: white;
    Box-shadow: 0px 50px 50px 0px rgba(255, 255, 255, 0.3);
  }
  .animation-container .lightning-container .lightning.red {
    Background-color: #fc7171;
    Box-shadow: 0px 50px 50px 0px rgba(252, 113, 113, 0.3);
    Animation-delay: 0.2s;
  }
  .animation-container .boom-container {
    Position: absolute;
    Display: flex;
    Width: 80px;
    Height: 80px;
    Text-align: center;
    Align-items: center;
    Transform: translateY(-50%);
    Left: 200px;
    Top: -145px;
  }
  .animation-container .boom-container .shape {
    Display: inline-block;
    Position: relative;
    Opacity: 0;
    Transform-origin: center center;
  }
  .animation-container .boom-container .shape.triangle {
    Width: 0;
    Height: 0;
    Border-style: solid;
    Transform-origin: 50% 80%;
    Animation-duration: 1s;
    Animation-timing-function: ease-out;
    Animation-iteration-count: infinite;
    Margin-left: -15px;
    Border-width: 0 2.5px 5px 2.5px;
    Border-color: transparent transparent #42e599 transparent;
    Animation-name: boom-triangle;
  }
  .animation-container .boom-container .shape.triangle.big {
    Margin-left: -25px;
    Border-width: 0 5px 10px 5px;
    Border-color: transparent transparent #fade28 transparent;
    Animation-name: boom-triangle-big;
  }
  .animation-container .boom-container .shape.disc {
    Width: 8px;
    Height: 8px;
    Border-radius: 100%;
    Background-color: #d15ff4;
    Animation-name: boom-disc;
    Animation-duration: 1s;
    Animation-timing-function: ease-out;
    Animation-iteration-count: infinite;
  }
  .animation-container .boom-container .shape.circle {
    Width: 20px;
    Height: 20px;
    Animation-name: boom-circle;
    Animation-duration: 1s;
    Animation-timing-function: ease-out;
    Animation-iteration-count: infinite;
    Border-radius: 100%;
    Margin-left: -30px;
  }
  .animation-container .boom-container .shape.circle.white {
    Border: 1px solid white;
  }
  .animation-container .boom-container .shape.circle.big {
    Width: 40px;
    Height: 40px;
    Margin-left: 0px;
  }
  .animation-container .boom-container .shape.circle.big.white {
    Border: 2px solid white;
  }
  .animation-container .boom-container .shape:after {
    Background-color: rgba(178, 215, 232, 0.2);
  }
  .animation-container .boom-container .shape.triangle, .animation-container .boom-container .shape.circle, .animation-container .boom-container .shape.circle.big, .animation-container .boom-container .shape.disc {
    Animation-delay: 0.38s;
    Animation-duration: 3s;
  }
  .animation-container .boom-container .shape.circle {
    Animation-delay: 0.6s;
  }
  .animation-container .boom-container.second {
    Left: 485px;
    Top: 155px;
  }
  .animation-container .boom-container.second .shape.triangle, .animation-container .boom-container.second .shape.circle, .animation-container .boom-container.second .shape.circle.big, .animation-container .boom-container.second .shape.disc {
    Animation-delay: 1.9s;
  }
  .animation-container .boom-container.second .shape.circle {
    Animation-delay: 2.15s;
}
  @keyframes woosh {

    0% {

      Width: 12px;
      Transform: translate(0px, 0px) rotate(-35deg);
    }
    15% {
      Width: 50px;
    }
    30% {
      Width: 12px;
      Transform: translate(214px, -150px) rotate(-35deg);
    }
    30.1% {
      Transform: translate(214px, -150px) rotate(46deg);
    }
    50% {
      Width: 110px;
    }
    70% {
      Width: 12px;
      Transform: translate(500px, 150px) rotate(46deg);
    }
    70.1% {
      Transform: translate(500px, 150px) rotate(-37deg);
    }
    85% {
      Width: 50px;
    }
    100% {
      Width: 12px;
      Transform: translate(700px, 0) rotate(-37deg);
    }
  }
  @keyframes boom-circle {
    0% {
      Opacity: 0;
    }
    5% {
      Opacity: 1;
    }
    30% {
      Opacity: 0;
      Transform: scale(3);
    }
  }
  @keyframes boom-triangle-big {
    0% {
      Opacity: 0;
    }
    5% {
      Opacity: 1;
    }
    40% {
      Opacity: 0;
      Transform: scale(2.5) translate(50px, -50px) rotate(360deg);
    }
  }
  @keyframes boom-triangle {
    0% {
      Opacity: 0;
    }
    5% {
      Opacity: 1;
    }
    30% {
      Opacity: 0;
      Transform: scale(3) translate(20px, 40px) rotate(360deg);
    }
  }
  @keyframes boom-disc {
    0% {
      Opacity: 0;
    }
    5% {
      Opacity: 1;
    }
    40% {
      Opacity: 0;
      Transform: scale(2) translate(-70px, -30px);
    }
  
  }
