a{
    Cursor:pointer;
   }
    body {
    Font-family: Arial, sans-serif;
    Line-height: 1.6;
  }
  header {
    Background-color: #333;
    Padding: 10px;
    Font-size: 0;
    Text-align: center;
    Color: black;
    Transition: color 0.5s;
  }
.container {
    Width: 100%;
    Height: 100%;
    Display: flex;
    Flex-direction: column;
    Justify-content: center;
    Align-items: center;
  }
  
  .avatar {
    Width: 150px;
    Height: 150px;
    Box-sizing: border-box;
    Border: 5px white solid;
    Border-radius: 50%;
    Overflow: hidden;
    Box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    Transform: translatey(0px);
    Animation: float 6s ease-in-out infinite;
  }
  .avatar img {
    Width: 100%;
    Height: auto;
  }
  
  
  @keyframes float {
    0% {
      Box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      Transform: translatey(0px);
    }
    50% {
      Box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      Transform: translatey(-20px);
    }
    100% {
      Box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      Transform: translatey(0px);
    }
  }
header h1 {
    Color: white;
    Font-size: 50px;
    Margin: 0;
  }
  .animation-container {
    Display: block;
    Position: relative;
    Width: 800px;
    Max-width: 100%;
    Margin: 0 auto;
  }
  .animation-container .lightning-container {
    Position: absolute;
    Top: 50%;
    Left: 0;
    Display: flex;
    Transform: translateY(-50%);
  }
  .animation-container .lightning-container .lightning {
    Position: absolute;
    Display: block;
    Height: 12px;
    Width: 12px;
    Border-radius: 12px;
    Transform-origin: 6px 6px;
    Animation-name: woosh;
    Animation-duration: 1.5s;
    Animation-iteration-count: infinite;
    Animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    Animation-direction: alternate;
  }
  .animation-container .lightning-container .lightning.white {
    Background-color: white;
    Box-shadow: 0px 50px 50px 0px rgba(255, 255, 255, 0.3);
  }
  .animation-container .lightning-container .lightning.red {
    Background-color: #fc7171;
    Box-shadow: 0px 50px 50px 0px rgba(252, 113, 113, 0.3);
    Animation-delay: 0.2s;
  }
  .animation-container .boom-container {
    Position: absolute;
    Display: flex;
    Width: 80px;
    Height: 80px;
    Text-align: center;
    Align-items: center;
    Transform: translateY(-50%);
    Left: 200px;
    Top: -145px;
  }
  .animation-container .boom-container .shape {
    Display: inline-block;
    Position: relative;
    Opacity: 0;
    Transform-origin: center center;
  }
  .animation-container .boom-container .shape.triangle {
    Width: 0;
    Height: 0;
    Border-style: solid;
    Transform-origin: 50% 80%;
    Animation-duration: 1s;
    Animation-timing-function: ease-out;
    Animation-iteration-count: infinite;
    Margin-left: -15px;
    Border-width: 0 2.5px 5px 2.5px;
    Border-color: transparent transparent #42e599 transparent;
    Animation-name: boom-triangle;
  }
  .animation-container .boom-container .shape.triangle.big {
    Margin-left: -25px;
    Border-width: 0 5px 10px 5px;
    Border-color: transparent transparent #fade28 transparent;
    Animation-name: boom-triangle-big;
  }
  .animation-container .boom-container .shape.disc {
    Width: 8px;
    Height: 8px;
    Border-radius: 100%;
    Background-color: #d15ff4;
    Animation-name: boom-disc;
    Animation-duration: 1s;
    Animation-timing-function: ease-out;
    Animation-iteration-count: infinite;
  }
  .animation-container .boom-container .shape.circle {
    Width: 20px;
    Height: 20px;
    Animation-name: boom-circle;
    Animation-duration: 1s;
    Animation-timing-function: ease-out;
    Animation-iteration-count: infinite;
    Border-radius: 100%;
    Margin-left: -30px;
  }
  .animation-container .boom-container .shape.circle.white {
    Border: 1px solid white;
  }
  .animation-container .boom-container .shape.circle.big {
    Width: 40px;
    Height: 40px;
    Margin-left: 0px;
  }
  .animation-container .boom-container .shape.circle.big.white {
    Border: 2px solid white;
  }
  .animation-container .boom-container .shape:after {
    Background-color: rgba(178, 215, 232, 0.2);
  }
  .animation-container .boom-container .shape.triangle, .animation-container .boom-container .shape.circle, .animation-container .boom-container .shape.circle.big, .animation-container .boom-container .shape.disc {
    Animation-delay: 0.38s;
    Animation-duration: 3s;
  }
  .animation-container .boom-container .shape.circle {
    Animation-delay: 0.6s;
  }
  .animation-container .boom-container.second {
    Left: 485px;
    Top: 155px;
  }
  .animation-container .boom-container.second .shape.triangle, .animation-container .boom-container.second .shape.circle, .animation-container .boom-container.second .shape.circle.big, .animation-container .boom-container.second .shape.disc {
    Animation-delay: 1.9s;
  }
  .animation-container .boom-container.second .shape.circle {
    Animation-delay: 2.15s;
}
